#poe{
  padding-top:140px;
  padding-bottom:160px;
}

#title{
  padding-top:20px;
  padding-bottom: 20px;
}

#drop_zone {
  border: 5px dotted #333;
  width:  100%;
  height: 200px;
  border-radius: 30px;
}

#contact {
  background-color:#eee
}

.contacttxt {
  font-size: 16px;
}

.abi {
  text-align:left;
}

#blockchain {
  background-color:#eee
}

#web3Missing{
  padding-top:200px;
  padding-bottom: 110px;
}

h3{
  color:black;
  margin: auto;
}

#verif{
  margin-top:80px;
}

#poe form .input-group{
  margin:auto;
  text-align: center;
  width:40%
}

#poe .form-control:focus{
  border-color: #18d26e;
  box-shadow:0 0 0 0.05rem rgba(0,123,255,.25);
}

#poe form button{
  background-color: #18d26e;
  color:white;
  border:none;
}

#poe form button:hover{
  background-color: #666;
  color:white;
}

#poe form button:focus{
  box-shadow:0 0 0 0.05rem rgba(0,123,255,.25);
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.buttonspace {
  margin-top: 20px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size:18px;
}

.buttonspace:active:hover {
  margin-top: 20px;
  background-color: #18d26e;
  border-color: #18d26e;
}

.btn-primary, .btn-danger{
  margin-top: 20px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size:18px;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
  background-color: #18d26e;
  border-color: #18d26e;
}

.btn-danger{
  background-color: #dc3545;
  border-color: #dc3545;
}

.wrapper {
	border: 7px dotted #000;
	box-shadow: inset 0 -3px 0 0 #000, 0 3px 0 0 #000;
}

.certificate-title {
   text-align:center;
}

.dragging {
  background-color: #18d26e;
}

.icon-padding {
	margin-right: 20px;
	margin-bottom: 20px;
}

[v-cloak] {
  display: none;
}

.verified {
       margin-top: 20px;
       color: green;
       font-size: 20px;
}
.unverified {
       margin-top: 20px;
       color: red;
       font-size: 20px;
}
